body {
    padding: 0 10%;
}

h1 {
    color: blue;
    font-size: 72;
}

.command {
    border: 1px solid;
    border-color: lightblue;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 0 3px #00000033;
}

.command:hover {
    color: red;
}

.button {
    background-color: rgb(55, 208, 55);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: inline;
    float: right;
}

.button:hover {
    box-shadow: 0 0 3px 3px rgb(24, 123, 24);
}